<div class="row">
    <div>
        <div class="card">
            <img src="{{user.image}}"/>
            <div class="card-body">
                
            </div>
        </div>
    </div>
    <div>
        <h5 class="card-title">Fullname: {{user.fullname}}</h5>
        <p>Email: {{user.email}}</p>
    </div>
</div>
